<section class="block block-a1addin-image-right-with-text-left">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12">
                    <div class="text-dove-gray">
                        <h2>Awesome <b>Features</b></h2>
                        <h4>Designed for simplicity, flexibility and convenience. Leverage on A1addinbiz today to grow
                            your business.</h4>
                        <p><img src="/img/icon-tick.png"> <b>Open an account
                            with your smartphone in minutes.</b></p>
                        <p><img src="/img/icon-tick.png"> <b>Transfer money, in a snap.</b></p>
                        <p><img src="/img/icon-tick.png"> <b>Pay and get paid, with QR Pay.</b></p>
                        <p><img src="/img/icon-tick.png"> <b>Schedule or pay bills instantly.</b></p>
                        <p><img src="/img/icon-tick.png"> <b>Stay on top of your business with the comprehensive
                            transaction history.</b></p>
                        <br><br>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-12 col-md-12 com-sm-12 image">
                    <img src="/img/businesslady.png" class="image-avatar">
                </div>
            </div>
        </div>
    </div>
</section>
