<style>
    .block-affin-always-info-boxes .card {
        background: #fff;
        border-radius: 25px;
    }
</style>

<section class="block block-affin-always-info-boxes">
    <div class="bg-color py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center text-white">Support and Product Inquiries </h3>
                </div>
            </div>
            <div class="row justify-content-center pt-3">
                <div class="col-md-5 card m-2">
                    <div class="row p-3">
                        <div class="col-md-12 text-center pt-2 pt-lg-0">
                            <h6 class="font-weight-bold card-title-text">Covid-19 Financial Assistant & Updates</h6>
                            <p class="grey-text">At Affin Bank / Affin Islamic we are here to support our customers
                                through both the good
                                times and the tough times. We’re committed to supporting our customers and the wider
                                community as the COVID-19 situation evolves.</p>
                            <a href="#" class="default-button">Discover</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 card m-2">
                    <div class="row p-3">
                        <div class="col-md-12 text-center pt-2 pt-lg-0">
                            <h6 class="font-weight-bold card-title-text">Frequently Asked Questions</h6>
                            <p class="grey-text">If you have inquiries related products and services, find the answer
                                here<br><br><br><br></p>
                            <a href="#" class="default-button">Discover</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
