<section class="block block-cta">
    <div class="bg-color p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5 p-2">
                    <img src="/img/business%201.png" class="full-width-img">
                </div>
                <div class="col-md-7 align-self-center p-2">
                    <h2 class="text-white h2">Personalised Solutions</h2>
                    <p class="text-white h6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-lg btn-round btn-light text-color h6">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
