<section class="block block-a1addin-text">
    <div class="py-5">
        <div class="container">
            <div class="row contents">
                <h3 class="m-0 p-0 text-title">WE ARE A LIFESTYLE BANK.</h3>
                <p class="padding-top text-description">Think big, go small - A1addin consists of what a bank has to offer but
                    all
                    on mobile. Keep us close with you - anywhere, any time to help make your lives better and easier
                    with a selection of financial solutions.</p>
            </div>

            <div class="row contents">
                <h3 class="m-0 p-0 text-title">WE ARE A DIGITAL APP.</h3>
                <p class="padding-top text-description">Available for download from Google Play Store and Apple App Store at no
                    cost, A1addin offers a range of banking services such as account opening, payment, transfers and
                    loads more to be done online easily. Forget about the queue and hassle, because a smartphone is all
                    you need to have your financial activities done. Be it for individuals or merchants - it’s your
                    bank, wherever you go.</p>
            </div>

            <div class="row contents">
                <h3 class="m-0 p-0 text-title">WE ARE PART OF AFFIN BANK.</h3>
                <p class="padding-top text-description">A1addin is a digital initiative by AFFIN BANK to cater for the
                    financial needs of tech savvy and mobile customers. We understand that our customers, especially
                    millennials appreciate around-the-clock services and smoothly working apps – and the user friendly
                    A1addin is here to fit the bill.</p>
            </div>

            <div class="row contents-no-border">
                <h3 class="m-0 p-0 text-title">WE ARE YOUR TOMORROW’S BANK.</h3>
                <p class="padding-top text-description">Begins with an exciting cashless and cardless banking experience, and
                    continues to impress with more thrilling features… you can always expect more from A1addin!</p>
            </div>
        </div>
    </div>
</section>
