<style>
    .block-affin-always-info-boxes-2 .card {
        background: #fff;
        border-radius: 25px;
    }

    @media (max-width: 767.98px) {
        .block-affin-always-info-boxes-2 .col-4 {
            margin: 0 auto !important;
        }
    }

    @media (min-width: 768px) {
        .block-affin-always-info-boxes-2 .col-md-3 {
            margin: 0 auto !important;
        }
    }
</style>

<section class="block block-affin-always-info-boxes-2">
    <div class="bg-color py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center text-white">Still have questions?</h3>
                    <h6 class="text-center text-white">If your questions are not answered in our FAQs, you can always
                        reach out to us via the following channels.</h6>
                </div>
            </div>
            <div class="row justify-content-center pt-3">
                <div class="col-md-5 card m-2">
                    <div class="row pt-3">
                        <div class="col-4 col-md-3 col-lg-2">
                            <img src="/img/smallhp.png" class="full-width-img pt-lg-3">
                        </div>
                        <div class="col-md-12 col-lg-8 text-center text-lg-left pt-2 pt-lg-0 grey-text">
                            <h6 class="font-weight-bold">Reach us by phone</h6>
                            <p class="h6">Contact Centre</p>
                            <p>Telephone no: 03-8230 2222<br>Hours: 8:00 am - 12:00 am</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 card m-2">
                    <div class="row pt-3">
                        <div class="col-4 col-md-3 col-lg-2">
                            <img src="/img/smallhp.png" class="full-width-img pt-lg-3">
                        </div>
                        <div class="col-md-12 col-lg-8 text-center text-lg-left pt-2 pt-lg-0 grey-text">
                            <h6 class="font-weight-bold">Chat with us now</h6>
                            <p>For any general enquiries or non internet banking-related,
                                contact our agents through chat icon which is located on the right bottom of the
                                page.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
