<section class="block block-affin-always-our-rates">
    <div class="grey-bg py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 align-self-center border-right">
                    <h4>Our Rates</h4>
                    <img src="/img/chevron-right.png" width="24">
                    <a href="#" class="red-text">
                        more rates
                    </a>
                </div>
                <div class="col-md-3 align-self-center mt-2 mt-md-0">
                    <div class="round-border">
                        <p class="text-center text-white pt-4">Mortgage</p>
                        <h2 class="text-center text-white">5.56%</h2>
                        <p class="text-center text-white">BLR & BFR</p>
                    </div>
                </div>
                <div class="col-md-3 align-self-center mt-2 mt-md-0">
                    <div class="round-border">
                        <p class="text-center text-white pt-4">Fixed Deposit</p>
                        <h2 class="text-center text-white">1.85%</h2>
                        <p class="text-center text-white">12 months</p>
                    </div>
                </div>
                <div class="col-md-3 align-self-center mt-2 mt-md-0">
                    <div class="round-border">
                        <p class="text-center text-white pt-4">Affin Gold</p>
                        <h2 class="text-center text-white">0.20%</h2>
                        <p class="text-center text-white">Up to RM5,000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
