<section class="block block-slider">
    <div class="position-relative">
        <div>
            <div class="my-slide">
                <img src="/img/slider_1.png" class="full-width-img">
                <div class="container">
                    <div class="position-absolute text-left text-over-img">
                        <h2 class="text-white">We’re always here for you</h2>
                        <img src="/img/search.png" class="search-img">
                        <input class="input-style" type="text" placeholder="I'm looking for">
                        <div class="border-bottom"></div>
                        <p class="pt-3">Popular tag</p>
                        <small><a href="#">#ohmygold</a></small>
                        <small><a href="#" class="pl-5">AFFINMAX</a></small>
                        <small><a href="#" class="pl-5">Start-up Exclusive</a></small>
                    </div>
                </div>
            </div>

            <div class="my-slide">
                <img src="/img/slider_1.png" class="full-width-img">
                <div class="container">
                    <div class="position-absolute text-left text-over-img">
                        <h4 class="text-white">We’re always here for you (slider 2)</h4>
                        <img src="/img/search.png" class="search-img">
                        <input class="input-style" type="text" placeholder="I'm looking for">
                        <div class="border-bottom"></div>
                        <p class="pt-3">Popular tag</p>
                        <small><a href="#">#ohmygold</a></small>
                        <small><a href="#" class="pl-5">AFFINMAX</a></small>
                        <small><a href="#" class="pl-5">Start-up Exclusive</a></small>
                    </div>
                </div>
            </div>

            <div class="my-slide">
                <img src="/img/slider_1.png" class="full-width-img">
                <div class="container">
                    <div class="position-absolute text-left text-over-img">
                        <h4 class="text-white">We’re always here for you (slider 3)</h4>
                        <img src="/img/search.png" class="search-img">
                        <input class="input-style" type="text" placeholder="I'm looking for">
                        <div class="border-bottom"></div>
                        <p class="pt-3">Popular tag</p>
                        <small><a href="#">#ohmygold</a></small>
                        <small><a href="#" class="pl-5">AFFINMAX</a></small>
                        <small><a href="#" class="pl-5">Start-up Exclusive</a></small>
                    </div>
                </div>
            </div>

            <div class="my-slide">
                <img src="/img/slider_1.png" class="full-width-img">
                <div class="container">
                    <div class="position-absolute text-left text-over-img">
                        <h4 class="text-white">We’re always here for you (slider 4)</h4>
                        <img src="/img/search.png" class="search-img">
                        <input class="input-style" type="text" placeholder="I'm looking for">
                        <div class="border-bottom"></div>
                        <p class="pt-3">Popular tag</p>
                        <small><a href="#">#ohmygold</a></small>
                        <small><a href="#" class="pl-5">AFFINMAX</a></small>
                        <small><a href="#" class="pl-5">Start-up Exclusive</a></small>
                    </div>
                </div>
            </div>

            <div class="my-slide">
                <img src="/img/slider_1.png" class="full-width-img">
                <div class="container">
                    <div class="position-absolute text-left text-over-img">
                        <h4 class="text-white">We’re always here for you (slider 5)</h4>
                        <img src="/img/search.png" class="search-img">
                        <input class="input-style" type="text" placeholder="I'm looking for">
                        <div class="border-bottom"></div>
                        <p class="pt-3">Popular tag</p>
                        <small><a href="#">#ohmygold</a></small>
                        <small><a href="#" class="pl-5">AFFINMAX</a></small>
                        <small><a href="#" class="pl-5">Start-up Exclusive</a></small>
                    </div>
                </div>
            </div>

            <div class="my-slide">
                <img src="/img/slider_1.png" class="full-width-img">
                <div class="container">
                    <div class="position-absolute text-left text-over-img">
                        <h4 class="text-white">We’re always here for you (slider 6)</h4>
                        <img src="/img/search.png" class="search-img">
                        <input class="input-style" type="text" placeholder="I'm looking for">
                        <div class="border-bottom"></div>
                        <p class="pt-3">Popular tag</p>
                        <small><a href="#">#ohmygold</a></small>
                        <small><a href="#" class="pl-5">AFFINMAX</a></small>
                        <small><a href="#" class="pl-5">Start-up Exclusive</a></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
        </div>
    </div>
</section>

<script>
    showSlides(1);
</script>
