<section class="block block-a1addin-image-text-with-icon">
    <div class="content">
        <div class="py-5">
            <div class="container text-dove-gray">
                <div class="row">
                    <div class="col-xl-5 col-12 image">
                        <img src="/img/personal-feature.png">
                    </div>
                    <div class="col-xl-7 col-12">
                        <h2>Powered by <b>AFFIN BANK</b></h2>
                        <h4>With A1addin, rest assured that you’re in good hands.</h4>

                        <div class="row padding-top">
                            <div class="col-4 col-sm-2 col-lg-2 text-center">
                                <img src="/img/icon-open-acc.png">
                            </div>
                            <div class="col-8 col-sm-4 col-lg-4">
                                <p><b>Open a bank account from your smartphone.</b></p>
                                <p>Save fuel. Save time. Save hassle. With A1addin, you can open a bank account from
                                    your smartphone anytime, anywhere.</p>
                            </div>
                            <div class="col-4 col-sm-2 col-lg-2 text-center">
                                <img src="/img/icon-transfer.png">
                            </div>
                            <div class="col-8 col-sm-4 col-lg-4">
                                <p><b>Transfer money, in a snap.</b></p>
                                <p>Whether transfer funds to a bank account number, mobile number or ID number, we have
                                    you covered. And this can be done instantly.</p>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-4 col-sm-2 col-lg-2 text-center">
                                <img src="/img/icon-payment.png">
                            </div>
                            <div class="col-8 col-sm-4 col-lg-4">
                                <p><b>Pay and get paid, with QR Pay.</b></p>
                                <p>Scan to pay. Show QR Code to get paid. Make payment at merchant outlets or among
                                    friends and family in a breeze.</p>
                            </div>
                            <div class="col-4 col-sm-2 col-lg-2 text-center">
                                <img src="/img/icon-schedule.png">
                            </div>
                            <div class="col-8 col-sm-4 col-lg-4">
                                <p><b>Schedule or pay bills instantly.</b></p>
                                <p>Make payments to your JomPAY billers conveniently. Worry about missing any bill
                                    payments? Schedule them with A1addin!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
