<section class="block block-a1addin-navbar">
    <div class="topnav" id="myTopnav">
        <div class="container overlay">
            <a href="#"><img src="/img/a1addin-logo.png"></a>
            <a href="#" class="active pt-md-4">Who Are We</a>
            <a href="#" class="pt-md-4">Personal</a>
            <a href="#" class="pt-md-4">Business</a>
            <a href="#" class="pt-md-4">FAQ</a>
            <a href="javascript:void(0);" id="icon" class="icon pt-4">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </a>
        </div>
    </div>
</section>

<script>
    var button = document.getElementById('icon');
    var x = document.getElementById("myTopnav");
    button.addEventListener('click', function () {
        if (x.className === "topnav") {
            x.className += " responsive";
            button.className += ' active-close';
        } else {
            x.className = "topnav";
            button.className = 'icon pt-4';
        }
    });
</script>
