<style>
    .block-affin-group-embedded-video .text {
        color: #f2f2f2;
        top: 50%;
        transform: translateY(-50%);
    }
</style>

<div class="position-absolute text text-left">
    <h3 class="title col-md-5">Get closer to our timeless journey to serve the best for our customer</h3>
    <div class="d-flex">
        <a href="#" class="ml-3"><img src="/img/play.png" width="47" height="47"></a>
        <h6 class="ml-3 align-self-center">Watch the Video</h6>
    </div>
</div>
