<section class="block block-affin-always-hero-advanced">
    <div class="position-relative">
        <img src="/img/serve_better.png" class="full-width-img">
        <div class="container">
            <div class="position-absolute text text-left">
                <img src="/img/visacard.png" class="card-img">
                <img src="/img/visacard.png" class="ml-4 card-img">
                <h4 class="text-white pt-1 pt-md-3">AFFIN DUO - AFFIN Visa Cash Back <br> and AFFIN Mastercard Rewards?
                </h4>
                <div class="align-items-start">
                    <a href="#" class="default-button mt-1 mt-md-3 mb-sm-3 mb-md-3">Apply Now</a>
                    <img src="/img/share.png" class="ml-4 share-img">
                    <a href="#" class="text-white ml-2 pt-3 pt-md-5">Share this</a>
                </div>
                <div class="row pt-1 pt-md-3">
                    <div class="col-md-6 border-right">
                        <h5 class="text-white">Min Annual Income</h5>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-white"><small>RM</small> 24,000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
