<section class="block block-affin-always-card-list-2">
    <div>
        <div class="container">
            <br><br>

            <a href="#" class="link-text-grey">AffinAlways</a> <span class="text-red"> > </span>
            <a href="#" class="link-text-grey">Personal</a> <span class="text-red"> > </span>
            <a href="#" class="link-text-grey">My Cards</a>

            <br><br>

            <div class="row">
                <img src="/img/mastercard-1.png" class="mastercard">
                <p class="header-text">Mastercard</p>
            </div>

            <br><br>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                    <div class="card card-radius">
                        <img class="card-img-top" src="/img/card-1.png" alt="Card image cap">
                        <img class="card-img-top" src="/img/card-2.png" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">AFFIN DUO - AFFIN Visa Cash Back
                                and AFFIN Mastercard Rewards</h5>
                            <div class="row">
                                <div class="col-6">
                                    <p class="rewards">3%</p>
                                    <p class="description">cashback</p>
                                </div>
                                <div class="col-6">
                                    <p class="rewards">3x</p>
                                    <p class="description">rewards points</p>
                                </div>
                            </div>
                            <div class="row margin-top-auto">
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button add-to-compare-button button-text">
                                            <a href="#" class="link-text-blue">Add to Compare</a></div>
                                    </div>
                                </div>
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button apply-now-button button-text">
                                            <a href="#" class="link-text-white">Apply now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                    <div class="card card-radius">
                        <img class="card-img-top" src="/img/card-3.png" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">AFFIN BANK Mastercard Gold</h5>
                            <div class="row">
                                <div class="col-12">
                                    <p class="rewards">1x</p>
                                    <p class="description">rewards points for every RM1</p>
                                </div>
                            </div>
                            <div class="row margin-top-auto">
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button add-to-compare-button button-text">
                                            <a href="#" class="link-text-blue">Add to Compare</a></div>
                                    </div>
                                </div>
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button apply-now-button button-text">
                                            <a href="#" class="link-text-white">Apply now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                    <div class="card card-radius">
                        <img class="card-img-top" src="/img/card-4.png" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">AFFIN BANK Visa Gold</h5>
                            <div class="row">
                                <div class="col-12">
                                    <p class="rewards">1x</p>
                                    <p class="description">rewards points for every RM1</p>
                                </div>
                            </div>
                            <div class="row margin-top-auto">
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button add-to-compare-button button-text">
                                            <a href="#" class="link-text-blue">Add to Compare</a></div>
                                    </div>
                                </div>
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button apply-now-button button-text">
                                            <a href="#" class="link-text-white">Apply now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="row">
                <img src="/img/visa-1.png" class="visa">
                <p class="header-text visa-card-text">Visa</p>
            </div>

            <br><br>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                    <div class="card card-radius">
                        <img class="card-img-top" src="/img/visa-card-1.png" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">AFFIN INVIKTA&trade; Visa Infinite</h5>
                            <div class="row">
                                <div class="col-6">
                                    <p class="rewards">5x</p>
                                    <p class="description">rewards points for overseas</p>
                                </div>
                                <div class="col-6">
                                    <p class="rewards">1x</p>
                                    <p class="description">rewards points for local</p>
                                </div>
                            </div>
                            <div class="row margin-top-auto">
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button add-to-compare-button button-text">
                                            <a href="#" class="link-text-blue">Add to Compare</a></div>
                                    </div>
                                </div>
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button apply-now-button button-text">
                                            <a href="#" class="link-text-white">Apply now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                    <div class="card card-radius">
                        <img class="card-img-top" src="/img/visa-card-2.png" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">AFFIN BANK Visa Business Platinum</h5>
                            <div class="row">
                                <div class="col-6">
                                    <p class="rewards">1%</p>
                                    <p class="description">cashback on overseas</p>
                                </div>
                                <div class="col-6">
                                    <p class="rewards">0.3%</p>
                                    <p class="description">cashback on others</p>
                                </div>
                            </div>
                            <div class="row margin-top-auto">
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button add-to-compare-button button-text">
                                            <a href="#" class="link-text-blue">Add to Compare</a></div>
                                    </div>
                                </div>
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button apply-now-button button-text">
                                            <a href="#" class="link-text-white">Apply now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                    <div class="card card-radius">
                        <img class="card-img-top" src="/img/visa-card-3.png" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">AFFIN BANK Visa Gold</h5>
                            <div class="row">
                                <div class="col-6">
                                    <p class="rewards">3%</p>
                                    <p class="description">cashback</p>
                                </div>
                                <div class="col-6">
                                    <p class="rewards">1x</p>
                                    <p class="description">rewards point</p>
                                </div>
                            </div>
                            <div class="row margin-top-auto">
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button add-to-compare-button button-text">
                                            <a href="#" class="link-text-blue">Add to Compare</a></div>
                                    </div>
                                </div>
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button apply-now-button button-text">
                                            <a href="#" class="link-text-white">Apply now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="row">
                <img src="/img/debit-1.png" class="debit">
                <p class="header-text">Debit</p>
            </div>

            <br><br>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                    <div class="card card-radius">
                        <img class="card-img-top" src="/img/debit-card-1.png" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">AFFIN BANK Visa Debit</h5>
                            <div class="row">
                                <div class="col-12">
                                    <p class="rewards">3x</p>
                                    <p class="description">rewards points for every RM10</p>
                                </div>
                            </div>
                            <div class="row margin-top-auto">
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button add-to-compare-button button-text">
                                            <a href="#" class="link-text-blue">Add to Compare</a></div>
                                    </div>
                                </div>
                                <div class="col no-padding">
                                    <div class="text-center">
                                        <div class="button apply-now-button button-text">
                                            <a href="#" class="link-text-white">Apply now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
