<section class="block block-footer">
    <div>
        <div class="p-4 p-md-5 bg-color">
            <div class="container p-md-5">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <img src="/img/affin-logo.png" class="full-width-img">
                            <br><br>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <a href="#" class="link-title">PERSONAL</a>
                        <div class="margin-bottom"></div>
                        <a href="#" class="link-text m-y-0">My Cards</a><br>
                        <a href="#" class="link-text m-y-0">My Deposits</a><br>
                        <a href="#" class="link-text m-y-0">My Loans & Financing</a><br>
                        <a href="#" class="link-text m-y-0">My Protections</a><br>
                        <a href="#" class="link-text m-y-0">My Investment</a>
                        <br><br>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <a href="#" class="link-title">SME</a>
                        <div class="margin-bottom"></div>
                        <a href="#" class="link-text m-y-0">Deposits</a><br>
                        <a href="#" class="link-text m-y-0">Loans & Financing</a><br>
                        <a href="#" class="link-text m-y-0">Trade Facilities</a><br>
                        <a href="#" class="link-text m-y-0">Bancassurance & Bancatakaful</a><br>
                        <a href="#" class="link-text m-y-0">SMEssentials</a><br>
                        <a href="#" class="link-text m-y-0">Start-up Exclusives</a>
                        <br><br>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <a href="#" class="link-title">CORPORATE</a>
                        <div class="margin-bottom"></div>
                        <a href="#" class="link-text m-y-0">Deposits</a><br>
                        <a href="#" class="link-text m-y-0">Loans & Financing</a><br>
                        <a href="#" class="link-text m-y-0">Trade Facilities</a>
                        <br><br>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>

                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <a href="#" class="link-title">PROFESSIONAL</a>
                        <div class="margin-bottom"></div>
                        <a href="#" class="link-text m-y-0">AFFIN AVANCE &#8482;</a>

                        <br><br>

                        <a href="#" class="link-title">PREMIER</a>
                        <div class="margin-bottom"></div>
                        <a href="#" class="link-text m-y-0">AFFIN INVIKTA &#8482;</a>
                        <br><br>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <a href="#" class="link-title">SST & BANK SERVICES</a>
                        <div class="margin-bottom"></div>
                        <a href="#" class="link-text m-y-0">SST & Bank Services</a><br>
                        <a href="#" class="link-text m-y-0">Internet Banking</a><br>
                        <a href="#" class="link-text m-y-0">Mobile Banking</a><br>
                        <a href="#" class="link-text m-y-0">Mobile Apps</a>
                        <br><br>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <a href="#" class="link-title">OTHERS</a>
                        <div class="margin-bottom"></div>
                        <a href="#" class="link-text m-y-0">Help Centre</a><br>
                        <a href="#" class="link-text m-y-0">Terms & Conditions</a><br>
                        <a href="#" class="link-text m-y-0">Products Disclosure Sheet</a><br>
                        <a href="#" class="link-text m-y-0">Rates & Pricing</a><br>
                        <a href="#" class="link-text m-y-0">Fees & Charges</a><br>
                        <a href="#" class="link-text m-y-0">Frequently Asked Questions</a><br>
                        <a href="#" class="link-text m-y-0">Forms</a><br>
                        <a href="#" class="link-text m-y-0">Branch Locator</a>
                        <br><br>
                    </div>
                </div>

                <br>

                <span class="copyright">
        <a href="#" class="link-text">AFFIN GROUP</a>
        |
        <a href="#" class="link-text">Client Charter</a>
        |
        <a href="#" class="link-text">Treat Customers Fairly Charter</a>
        |
        <a href="#" class="link-text">Customer Care</a>
        |
        <a href="#" class="link-text">Privacy Notice</a>
        |
        <a href="#" class="link-text">Disclaimer</a>
        |
        <a href="#" class="link-text">Whistleblowing Policy</a>
        |
        <a href="#" class="link-text">PIDM's DIS Brochure</a>
        |
        <a href="#" class="link-text">List of Insured Deposits</a>
    </span>
                <p class="copyright">Copyright 2018 Affin Bank Berhad (25046-T).</p>

                <br>
            </div>
        </div>
        <div class="container text-center">
            <img src="/img/footer-1.png" width="100%">
        </div>
    </div>
</section>
