<section class="block block-a1addin-tabs-with-image">
    <div class="py-5">
        <div class="container">
            <div class="row justify-content-center justify-content-md-start">
                <div class="col-md-6">
                    <div class="pb-5 mt-lg-5 mt-0 tab-link d-flex">
                        <div class="col-md-6 col-lg-4 item">
                            <img src="/img/gift.png" class="ml-1 icon-img">
                            <strong id="tab-link-1" onclick="changeTab('tab-1')"
                                    class="mt-2 text-center text-uppercase active caption">save
                                money</strong>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <img src="/img/gift.png" class="ml-1 icon-img">
                            <strong id="tab-link-2" onclick="changeTab('tab-2')"
                                    class="mt-2 text-center text-uppercase caption">share money</strong>
                        </div>
                    </div>
                    <div id="tab-1" class="tab pt-lg-3">
                        <h2 class="text-center text-md-left">Be smart. Be fast.</h2>
                        <p class="text-center text-md-left">
                            Skip the queue and open an account with your smartphone in minutes.
                        </p>
                        <p class="text-center text-md-left small">
                            Enter your details, scan your NRIC, take a selfie and your account is ready!
                        </p>
                        <div class="d-flex justify-content-center justify-content-md-start">
                            <a href="#" class="header-button">
                                <img src="/img/chevrons-right.png" width="24">Download A1addin now!
                            </a>
                        </div>
                    </div>
                    <div id="tab-2" class="tab pt-lg-3">
                        <h2 class="text-center text-md-left">Share money with your loved ones?</h2>
                        <p class="text-center text-md-left">
                            You are just a scan away with A1addin...
                        </p>
                        <div class="d-flex justify-content-center justify-content-md-start">
                            <a href="#" class="header-button">
                                <img src="/img/chevrons-right.png" width="24">Download A1addin now!
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 pt-3 pt-md-0">
                    <img src="/img/a1addin-hp.png" class="full-width-img pt-0">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    changeTab('tab-1');
</script>
