<section class="block block-affin-always-promotions-list">
    <div class="background-image">
        <div class="content">
            <br><br>

            <p class="header text-center">Discover Great Promotions</p>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12 m-20">
                        <div class="card card-radius">
                            <img class="card-img-top" src="/img/img-1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">AFFIN INVIKTA Campaign</h5>
                                <p class="card-text">Campaign Period:</p>
                                <p class="card-text">8 March - 7 May 2021</p>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12 m-20">
                        <div class="card card-radius">
                            <img class="card-img-top" src="/img/img-2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Lazada 9th Birthday Promotion</h5>
                                <p class="card-text">Promotion Period:</p>
                                <p class="card-text">Now - 31 March 2021</p>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12 m-20">
                        <div class="card card-radius">
                            <img class="card-img-top" src="/img/img-3.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Valiram The Extended OXpicious Sale</h5>
                                <p class="card-text">Promotion Period:</p>
                                <p class="card-text">5 - 9 March 2021</p>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12 m-20">
                        <div class="card card-radius">
                            <img class="card-img-top" src="/img/img-4.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Oh My Gold Deposit Campaign</h5>
                                <p class="card-text">Campaign Period:</p>
                                <p class="card-text">5 May 2020 - 30 April 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="text-center">
                <div class="button button-text"><a href="#" class="link-text">Discover all promotions</a></div>
            </div>

            <br><br>
        </div>
    </div>
</section>
