<section class="block block-how-to-reach-us">
    <div class="py-5">
        <div class="container">
            <div class="text-center">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="text-left normal-text">How to reach us?</h2>
                        <p class="text-left normal-text small">There are more ways to reach us</p>
                        <div class="d-flex pt-3">
                            <div class="col-2 col-md-2">
                                <img src="/img/navigation.png" class="full-width-img">
                            </div>
                            <div class="col-md-6 align-self-center">
                                <h5 class="primary-text-color text-left">How about a visit?</h5>
                                <p class="normal-text text-left">Visit your nearest AFFINBANK branch today!</p>
                            </div>
                        </div>
                        <div class="d-flex pt-3">
                            <div class="col-2 col-md-2">
                                <img src="/img/smallhp.png" class="full-width-img">
                            </div>
                            <div class="col-md-6 align-self-center">
                                <h5 class="primary-text-color text-left">Talk to us</h5>
                                <p class="normal-text text-left">Call us anytime to speak with our Contact Center
                                    representative</p>
                            </div>
                        </div>
                        <div class="d-flex pt-3">
                            <div class="col-2 col-md-2">
                                <img src="/img/handclick.png" class="full-width-img">
                            </div>
                            <div class="col-md-6 align-self-center">
                                <h5 class="primary-text-color text-left">Drop us your details</h5>
                                <p class="normal-text text-left">Leave us your details and we will reach you
                                    soon</p>
                            </div>
                        </div>
                        <div class="row pt-3 p-md-0">
                            <div class="col-2 col-md-2">
                            </div>
                            <div class="col-2 col-md-2">
                                <a href="#">
                                    <img src="/img/facebook.png" class="full-width-img">
                                </a>
                            </div>
                            <div class="col-2 col-md-2">
                                <a href="#">
                                    <img src="/img/instagram.png" class="full-width-img">
                                </a>
                            </div>
                            <div class="col-2 col-md-2">
                                <a href="#">
                                    <img src="/img/twitter.png" class="full-width-img">
                                </a>
                            </div>
                            <div class="col-2 col-md-2">
                                <a href="#">
                                    <img src="/img/youtube.png" class="full-width-img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl-5 pr-5 pb-5 pt-3 p-md-0">
                        <img src="/img/hp.png" class="full-width-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
