<section class="block block-blog-list">
    <div class="background-image">
        <div class="content p-4 p-md-5">
            <div class="container p-md-5">
                <br>

                <p class="header">Stay up-to-date with our latest highlights</p>

                <br>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex flex-column">
                        <p class="date-text">19 March 2021</p>
                        <p class="highlight-text">Revision of Repricing/
                            Revision of Interest Rate
                            Clause for Housing Loan
                            Facilities</p>
                        <a href="#" class="link-text-red mt-auto">> Read more</a>
                        <br><br>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex flex-column">
                        <p class="date-text">10 March 2021</p>
                        <p class="highlight-text">Services email suspension
                            / Discontinuation of
                            Communication via Email
                            on Credit Card</p>
                        <a href="#" class="link-text-red mt-auto">> Read more</a>
                        <br><br>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex flex-column">
                        <p class="date-text">9 March 2021</p>
                        <p class="highlight-text">Revision of AFFIN BANK Deposit Product Interest Structure
                            Effective 01 April 2021</p>
                        <a href="#" class="link-text-red mt-auto">> Read more</a>
                        <br><br>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 align-self-center">
                        <div class="button-round button-text padding-top"><a href="#" class="link-text"> > </a></div>
                    </div>
                </div>


                <br><br>

                <div class="text-left">
                    <div class="button button-text justify-content-center"><a href="#"
                                                                              class="link-text overflow align-self-center">
                        Discover all announcements</a></div>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
</section>
