<section class="block block-a1addin-image-with-text-banner">
    <div class="content py-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 com-sm-12 image">
                    <img src="/img/phoneekyc.gif" class="image-avatar">
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12">
                    <div class="text-dove-gray">
                        <h2>Identity <b>Verification</b></h2>
                        <h4>Verify Your Identity Instantly and Remotely</h4>
                        <p class="text-description">Expect a fast, secure onboarding experience? With a few steps for
                            identity verification, you can help us get to know you better, while keeping fraud at
                            bay.</p>
                        <div class="row text-center">
                            <div class="col-md-4">
                                <img src="/img/icon-scan-ic.png" class="image-step">
                                <p class="text-step"><b>Step 1</b></p>
                                <p class="text-step-description mb-4">Scan your NRIC</p>
                            </div>
                            <div class="col-md-4">
                                <img src="/img/icon-selfie.png" class="image-step">
                                <p class="text-step"><b>Step 2</b></p>
                                <p class="text-step-description mb-4">Take a selfie</p>
                            </div>
                            <div class="col-md-4">
                                <img src="/img/icon-answer-qs.png" class="image-step">
                                <p class="text-step"><b>Step 3</b></p>
                                <p class="text-step-description mb-4">Answer some questions for identity authentication</p>
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
