<section class="block block-a1addin-hero">
    <div class="position-relative">
        <img src="/img/serve_better.png" class="full-width-img">
        <div class="container">
            <div class="position-absolute text-left white-text">
                <h2>Banking Redefined.</h2>
                <h6>Even faster and smarter cashless and cardless banking experience.<br> It’s your bank, wherever you
                    go.</h6>
                <div class="row pt-3">
                    <div class="col-4 col-md-4 image">
                        <a href="#"><img src="/img/google-play.png" class="full-width-img"></a>
                    </div>
                    <div class="col-4 col-md-4 image">
                        <a href="#"><img src="/img/app-store.png" class="full-width-img"></a>
                    </div>
                </div>
                <div class="scroll-btn">
                    <a href="#">
                    <span class="mouse">
                        <span></span>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
