video {
    pointer-events: none;
}

.full-width-img {
    width: 100%;
}

.default-button {
    display: inline-block;
    background: #0768B3;
    color: white;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375em .75em;
    line-height: 1.5;
    border-radius: .25em;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* CSS for link-hover-box start
   ========================================================================== */
.block-link-hover-box hr {
    color: #fff;
    background-color: #fff;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.block-link-hover-box .block-container {
    /*margin-left: 2.5%;*/
    /*margin-right: 2.5%;*/
}

.block-link-hover-box .m-b0 {
    margin-bottom: 0;
}

.block-link-hover-box .m-b10 {
    margin-bottom: 10px;
}

.block-link-hover-box .m-b20 {
    margin-bottom: 20px;
}

.block-link-hover-box .m-b30 {
    margin-bottom: 30px;
}

.block-link-hover-box .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

.block-link-hover-box .dez-box.team-bx {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    /*max-width: 330px;*/
    max-height: 375px;
}

.block-link-hover-box .dez-box.team-bx::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /*max-width: 676px;*/
    /*max-height: 766px;*/
    transition: all 0.5s;
    opacity: 0;
}

.block-link-hover-box .dez-box.team-bx:hover:after,
.block-link-hover-box .dez-box.team-bx:hover .dez-info {
    opacity: 1;
    transition: all 0.5s;
    background-color: #284fb2;
}

.block-link-hover-box .dez-box.team-bx .dez-info {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    height: 100%;
    /*max-width: 676px;*/
    /*max-height: 766px;*/
    text-align: center;
    color: #121618;
    opacity: 0;
    transition: all 0.5s;
}

.block-link-hover-box .dez-box.team-bx .dez-title-bx {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    font-weight: 200;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-link-hover-box .dez-media {
    overflow: hidden;
    position: relative;
}

.block-link-hover-box .dez-box:hover .dez-info-has,
.block-link-hover-box .dez-media:hover .dez-info-has {
    opacity: 1;
    width: 100%;
    /*max-width: 676px;*/
    /*max-height: 766px;*/
    margin-bottom: 0;
}

.block-link-hover-box .dez-media,
.block-link-hover-box .dez-media,
.block-link-hover-box .dez-post-media {
    background-color: #FFF;
    position: relative;
}

.block-link-hover-box .dez-media img,
.block-link-hover-box .dez-post-media img {
    width: 100%;
    /*height: auto;*/
    /*max-width: 676px;*/
    /*max-height: 766px;*/
}

.block-link-hover-box .link-text,
.block-link-hover-box .link-text:hover {
    color: #fff;
}

/* CSS for link-hover-box end
   ========================================================================== */

/* Slider */
.my-slide, .slide {
    display: none;
    position: relative;
}

.dot, .my-dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 1.25em auto;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    transition: background-color 0.6s ease;
}

.dots {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    z-index: 20;
    width: 40px;
}

.dot:active, .dot:hover, .my-dot:active, .my-dot:hover {
    background-color: #717171;
}

.block-slider .text-over-img {
    top: 50%;
    transform: translateY(-50%);
}

.block-slider .input-style {
    background: transparent;
    border: none;
}

.block-slider .border-bottom {
    padding-top: 10px;
    border-bottom: 2px solid white;
    width: 45%;
}

.block-slider .search-img {
    width: 2vw;
}

/* Slider */

/* Navbar */
.block-navbar .overlay-menu-bg {
    background: linear-gradient(94.81deg, #2AA0DE 24.87%, #1B75B6 41.58%, #4730A3 73.66%, #660096 100.3%);
}

.block-navbar .content-text, .block-navbar a {
    /*font-size: 1.5vw;*/
}

.block-navbar .title-text {
    /*font-size: 2vw;*/
    font-weight: 800;
}

.block-navbar .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    max-width: 100%;
    max-height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.block-navbar .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.block-navbar .close {
    color: #aaa;
    float: right;
    /*font-size: 2vw;*/
    font-weight: bold;
}

.block-navbar .close:hover,
.block-navbar .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.block-navbar .input-width {
    width: 40vw;
}

.block-navbar .search-icon {
    position: absolute;
    right: 22.5%;
}

.block-navbar .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: 0.5s;
}

.block-navbar .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
}

.block-navbar .overlay a {
    color: #818181;
    display: block;
    transition: 0.3s;
}

.block-navbar .overlay a:hover, .block-navbar .overlay a:focus {
    color: #f1f1f1;
}

.block-navbar .overlay .closebtn {
    position: absolute;
    top: 1.5vw;
    right: 3.5vw;
    font-size: 30px;
}

.block-navbar .navbar-img {
    height: 50px;
}

.block-navbar .overlay .img-logo {
    position: absolute;
    top: 4vw;
    left: 4.3vw;
    height: 50px;
}

.block-navbar .login-img, .block-navbar .navsearch-img, .block-navbar .menu-img {
    height: 35px;
}

.block-navbar .padding-left {
    padding-left: 10vw;
}

.block-navbar .padding-right {
    padding-right: 10vw;
}

.block-navbar .navbar {
    padding: .25rem .75rem !important;
}

/* Navbar */

/* Blog List */

.block-blog-list .background-image {
    background-image: url('/img/bg-image-2.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.block-blog-list .button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0768B3;

    min-width: 300px;
    width: fit-content;
    max-width: 100%;
    height: 70px;
}

@media only screen and (max-width: 992px) {
    .block-blog-list .overflow {
        width: 300px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
}

.block-blog-list .button-round {
    border: none;
    border-radius: 50%;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    background-color: #0768B3;

    width: 50px !important;
    height: 50px !important;
}

.block-blog-list .button-text {
    font-size: 20px;
    font-weight: 300;
}

.block-blog-list .content {
    background: rgba(76, 157, 202, 0.8);
}

.block-blog-list .date-text {
    font-size: 16px;
    font-weight: 300;
}

.block-blog-list .header {
    font-size: 48px;
    font-weight: 300;
}

.block-blog-list .highlight-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
}

.block-blog-list .link-text {
    color: #fff;
}

.block-blog-list .link-text-red {
    color: #ff0000;
}

.block-blog-list .padding-top {
    padding-top: 7px;
}

/* Affin Always Footer */

.block-footer .bg-color {
    background-color: #494747;
    width: 100%;
}

.block-footer .copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    color: #C4C4C4;
}

.block-footer .link-title, .link-text {
    font-weight: 300;
    color: #C4C4C4;
    font-size: 14px;
}

.block-footer .link-title {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.block-footer p {
    margin-bottom: 0;
    margin-top: 0;
}

.block-footer .margin-bottom {
    margin-bottom: 0.5rem !important;
}

/* CTA or Thank You Banner */
.block-cta .bg-color, .block-thank-you-banner .bg-color, .block-affin-always-banner-with-image-vertical .bg-color, .block-affin-always-disclaimer .bg-color, .block-affin-always-info-boxes-2 .bg-color, .block-affin-always-info-boxes .bg-color {
    background-color: #0768B3;
}

.block-thank-you-banner .button-white-outline {
    color: #f8f9fa !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #f8f9fa !important;
}

/* End of Thank You Banner */

.block-cta .text-color, .block-affin-always-info-boxes .card-title-text {
    color: #0768B3;
}

/* END of CTA */

/* How to reach us */
.block-how-to-reach-us .primary-text-color {
    color: #00ACFB;
}

.block-how-to-reach-us .normal-text {
    color: #888888;
}

@media (min-width: 1200px) {
    .block-how-to-reach-us .full-width-img {
        width: 75%;
    }
}

/* How to reach us */

/* Affin Savings (SST & Bank Services 1) */
.block-affin-always-sst-and-bank-services-1 .card {
    border: none !important;
    height: 100% !important;
    box-shadow: 0 4px 4px 0 #00000040;
}

.block-affin-always-sst-and-bank-services-1 .card-radius {
    margin-bottom: 2rem;
    border-radius: 25px;
}

.block-affin-always-sst-and-bank-services-1 .card-text {
    color: #888888;
    font-size: 20px;
}

.block-affin-always-sst-and-bank-services-1 .card-title {
    color: #0768B3;
    font-weight: 400;
    font-size: 24px;
}

.block-affin-always-sst-and-bank-services-1 .header {
    font-weight: 300;
    font-size: 48px;
    color: #888888;
}
/* Affin Savings (SST & Bank Services 1) */

/* Latest Campaign (Horizontal Banner) */
.horizontal-banner-block .background-image {
    background-image: url('/img/bg-image-1.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.horizontal-banner-block .button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0768B3;
}

.horizontal-banner-block .button-text {
    font-size: 20px;
    font-weight: 300;
}

.horizontal-banner-block .content {
    background: rgba(76, 157, 202, 0.8);
}

.horizontal-banner-block .header {
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.horizontal-banner-block .link-text-white {
    color: #fff;
}

.horizontal-banner-block .link-text-red {
    color: #FF0000;
}

.horizontal-banner-block .sub-header {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .horizontal-banner-block .header {
        font-weight: 400;
        font-size: 32px;
        color: #fff;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 1400px) {
    .horizontal-banner-block .header {
        font-size: 72px;
    }

    .horizontal-banner-block .sub-header {
        font-size: 36px;
    }

    .horizontal-banner-block .link-text-red {
        font-size: 32px;
    }

    .horizontal-banner-block .button-text {
        font-size: 32px;
    }
}
/* Latest Campaign (Horizontal Banner) */

/* Icons With Text */
.icons-with-text-block .icons-text {
    font-size: 18px;
    color: #888888;
    padding-left: 5px;
}

.icons-with-text-block .no-padding-left {
    padding-left: 0;
}
/* Icons With Text */

/* Affin Always Award */
.block-affin-always-award .primary-text, .block-affin-always-benefit-info .primary-text {
    color: #00A3FF;
}

.block-affin-always-award .normal-text, .block-affin-always-benefit-info .normal-text {
    color: #333333;
}

@media (max-width: 767.98px) {
    .block-affin-always-award .col-4 {
        margin: 0 auto !important;
    }
}

@media (min-width: 768px) {
    .block-affin-always-award .col-md-4 {
        margin: 0 auto !important;
    }
}
/* Affin Always Award */

/* Affin Always Benefit Info */
.block-affin-always-benefit-info .grey-text, .block-affin-always-info-boxes-2 .grey-text, .block-affin-always-info-boxes .grey-text {
    color: #888888;
}
/* Affin Always Award */

/* Block Hero Advanced 2 */
.block-hero-advanced-2 .text-over-img {
    top: 40%;
    transform: translateY(-50%);
}

.block-hero-advanced-2 .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.block-hero-advanced-2 .caption {
    display: block;
}

@media (max-width: 767.98px) {
    .block-hero-advanced-2 h4 {
        font-size: 15px;
    }

    .block-hero-advanced-2 a {
        font-size: 10px;
    }

    .block-hero-advanced-2 .icon-img {
        width: 25px;
    }

}
/* Block Hero Advanced 2 */

/* Block Affin Always Hero */
.block-affin-always-hero .white-text {
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
/* Block Affin Always Hero */

/* Block Affin Always Hero Advanced */
.block-affin-always-hero-advanced .text {
    top: 50%;
    transform: translateY(-50%);
}

.block-affin-always-hero-advanced .card-img {
    width: 150px;
}

.block-affin-always-hero-advanced .share-img {
    width: 35px;
}

.block-affin-always-hero-advanced .border-right {
    border-right: 2px solid #FF0000 !important;
    height: 100%;
}

@media (max-width: 767.98px) {
    .block-affin-always-hero-advanced h4 {
        font-size: 13px;
    }

    .block-affin-always-hero-advanced h5 {
        font-size: 11px;
    }

    .block-affin-always-hero-advanced a {
        font-size: 9px;
    }

    .block-affin-always-hero-advanced .card-img {
        width: 50px;
    }

    .block-affin-always-hero-advanced .share-img {
        width: 10px;
    }

    .block-affin-always-hero-advanced .border-right {
        border: none !important;
    }
}
/* Block Affin Always Hero Advanced */

/* Block Affin Always Our Rates */
.block-affin-always-our-rates .round-border {
    border: 1px solid transparent;
    background-color: #0768B3;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: auto;
}

.block-affin-always-our-rates .grey-bg {
    background: #F4F4F2;
}

.block-affin-always-our-rates .red-text {
    color: #FF0000;
}

.block-affin-always-our-rates .border-right {
    border-right: 2px solid #FF0000 !important;
    height: 100%;
}

@media (max-width: 767.98px) {
    .block-affin-always-our-rates .border-right {
        border: none !important;
    }
}
/* Block Affin Always Our Rates */

/* Block Affin Always Tab With Image */
.block-tabs-with-image .bg-color {
    background-color: #0768B3;
}

.block-tabs-with-image .tab {
    display: none;
}

.block-tabs-with-image .tab-link strong:hover {
    border-bottom: 3px solid red;
}

.block-tabs-with-image .tab-link strong.active {
    border-bottom: 3px solid red;
}

@media (max-width: 767.98px) {
    .block-tabs-with-image strong {
        font-size: .9rem;
    }
}
/* Block Affin Always Tab With Image */

/* Block Affin Always Promotions List */
.block-affin-always-promotions-list .background-image {
    background-image: url('/img/bg-image-1.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.block-affin-always-promotions-list .button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0768B3;
}

.block-affin-always-promotions-list .button-text {
    font-size: 20px;
    font-weight: 300;
}

.block-affin-always-promotions-list .card {
    border: none !important;
    height: 100% !important;
}

.block-affin-always-promotions-list .card-radius {
    margin-bottom: 2rem;
    border-radius: 25px;
}

.block-affin-always-promotions-list .card-title, .card-text {
    color: #888888;
}

.block-affin-always-promotions-list .content {
    background: rgba(76, 157, 202, 0.8);
}

.block-affin-always-promotions-list .header {
    font-weight: 300;
    font-size: 48px;
}

.block-affin-always-promotions-list .link-text {
    color: #fff;
}

.block-affin-always-promotions-list .m-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Block Affin Always Promotions List */

/* Block Affin Always Card List 1 */
.block-affin-always-card-list-1 .add-to-compare-button {
    border: 1px solid #0768B3;
    color: #0768B3;
    background-color: #fff;
}

.block-affin-always-card-list-1 .apply-now-button {
    border: none;
    color: white;
    background-color: #0768B3;
}

.block-affin-always-card-list-1 .button {
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    min-width: 120px;
    max-width: 140px;
    height: 50px;
    white-space: nowrap;
}

.block-affin-always-card-list-1 .button-text {
    font-size: 16px;
    font-weight: 300;
}

.block-affin-always-card-list-1 .card {
    height: 100% !important;
    padding: 20px 10px;
    border: 1px solid #c4c4c4;
    border-radius: 15px;
}

.block-affin-always-card-list-1 .card-img-top {
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
}

.block-affin-always-card-list-1 .card-title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #0768B3;
}

.block-affin-always-card-list-1 .description {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #888888;
}

.block-affin-always-card-list-1 .gift-icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 15px;
}

.block-affin-always-card-list-1 .header-text {
    padding-left: 15px;
    color: #888888;
    font-size: 48px;
    font-weight: 300;
}

.block-affin-always-card-list-1 .link-text-grey {
    color: #888888;
    font-size: 18px;
    font-weight: 300;
}

.block-affin-always-card-list-1 .link-text-white {
    color: #fff;
}

.block-affin-always-card-list-1 .link-text-blue {
    color: #0768B3;
}

.block-affin-always-card-list-1 .margin-top-auto {
    margin-top: auto;
}

.block-affin-always-card-list-1 .margin-bottom {
    margin-bottom: 25px;
}

.block-affin-always-card-list-1 .no-padding {
    padding: 0 !important;
}

.block-affin-always-card-list-1 .text-red {
    color: #FF0000;
}

.block-affin-always-card-list-1 .rewards {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}
/* Block Affin Always Card List 1 */

/* Affin Always Info Boxes List With Icons */
.block-affin-always-info-boxes-list-with-icons .button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0768B3;
    width: 100%;
}

.block-affin-always-info-boxes-list-with-icons .button-text {
    font-size: 20px;
    font-weight: 300;
}

.block-affin-always-info-boxes-list-with-icons .card {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100% !important;
    /*box-shadow: 0 4px 4px 0 #00000040;*/
}

.block-affin-always-info-boxes-list-with-icons .card-radius {
    margin-bottom: 2rem;
    border-radius: 25px;
}

.block-affin-always-info-boxes-list-with-icons .card-text {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    text-align: left;
    color: #888888;

}

.block-affin-always-info-boxes-list-with-icons .card-title {
    color: #888888;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 0;
}

.block-affin-always-info-boxes-list-with-icons .container {
    padding: 25px !important;
}

.block-affin-always-info-boxes-list-with-icons .content {
    color: #888888;
    font-weight: 300;
    font-size: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.block-affin-always-info-boxes-list-with-icons .display-flow-root {
    display: flow-root;
}

.block-affin-always-info-boxes-list-with-icons .header {
    font-weight: 300;
    font-size: 48px;
    color: #888888;
}

.block-affin-always-info-boxes-list-with-icons .header-2 {
    font-weight: 300;
    font-size: 28px;
    color: #888888;
    cursor: pointer;
}

.block-affin-always-info-boxes-list-with-icons hr {
    background-color: #888888;
}

.block-affin-always-info-boxes-list-with-icons .link-text-blue {
    color: #00ACFB;
}

.block-affin-always-info-boxes-list-with-icons .link-text-white {
    color: #fff;
}

.block-affin-always-info-boxes-list-with-icons .margin-bottom {
    margin-bottom: 25px;
}

.block-affin-always-info-boxes-list-with-icons .no-padding-left {
    padding-left: 0 !important;
}

.block-affin-always-info-boxes-list-with-icons .no-padding-right {
    padding-right: 0 !important;
}
/* Affin Always Info Boxes List With Icons */

/* Affin Always Card List 2 */
.block-affin-always-card-list-2 .add-to-compare-button {
    border: 1px solid #0768B3;
    color: #0768B3;
    background-color: #fff;
}

.block-affin-always-card-list-2 .apply-now-button {
    border: none;
    color: white;
    background-color: #0768B3;
}

.block-affin-always-card-list-2 .button {
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    min-width: 120px;
    width: fit-content;
    max-width: 100%;
    height: 50px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.block-affin-always-card-list-2 .button-text {
    font-size: 16px;
    font-weight: 300;
}

.block-affin-always-card-list-2 .card {
    height: 100% !important;
    padding: 20px 10px;
    border: 1px solid #c4c4c4;
    border-radius: 15px;
}

.block-affin-always-card-list-2 .card-img-top {
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
}

.block-affin-always-card-list-2 .card-title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #0768B3;
}

.block-affin-always-card-list-2 .debit {
    width: 49px;
    max-height: 49px;
    margin-left: 15px;
}

.block-affin-always-card-list-2 .description {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #888888;
}

.block-affin-always-card-list-2 .mastercard {
    width: 55px;
    max-height: 55px;
    margin-left: 15px;
}

.block-affin-always-card-list-2 .header-text {
    padding-left: 15px;
    color: #888888;
    font-size: 52px;
    font-weight: 300;
    margin-top: -15px;
}

.block-affin-always-card-list-2 .link-text-grey {
    color: #888888;
    font-size: 18px;
    font-weight: 300;
}

.block-affin-always-card-list-2 .link-text-white {
    color: #fff;
}

.block-affin-always-card-list-2 .link-text-blue {
    color: #0768B3;
}

.block-affin-always-card-list-2 .margin-top-auto {
    margin-top: auto;
}

.block-affin-always-card-list-2 .margin-bottom {
    margin-bottom: 25px;
}

.block-affin-always-card-list-2 .no-padding {
    padding: 0 !important;
}

.block-affin-always-card-list-2 .text-red {
    color: #FF0000;
}

.block-affin-always-card-list-2 .rewards {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}

.block-affin-always-card-list-2 .visa {
    width: 100px;
    max-height: 30px;
    margin-left: 15px;
}

.block-affin-always-card-list-2 .visa-card-text {
    margin-top: -30px !important;
}
/* Affin Always Card List 2 */

/* Affin Always SST & Bank Services 2 */
.block-affin-always-sst-and-bank-services-2 .card {
    border: none !important;
    height: 100% !important;
    box-shadow: 0 4px 4px 0 #00000040;
}

.block-affin-always-sst-and-bank-services-2 .card-radius {
    margin-bottom: 2rem;
    border-radius: 25px;
}

.block-affin-always-sst-and-bank-services-2 .card-text {
    color: #888888;
}

.block-affin-always-sst-and-bank-services-2 .card-title {
    color: #0768B3;
    font-weight: 400;
    font-size: 30px;
}

.block-affin-always-sst-and-bank-services-2 .header {
    font-weight: 300;
    font-size: 48px;
    color: #888888;
}

.block-affin-always-sst-and-bank-services-2 .margin-bottom {
    margin-bottom: 25px;
}
/* Affin Always SST & Bank Services 2 */

/* A1addin Text */
.block-a1addin-text .contents {
    margin: 20px 0 0 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #cccccc;
}

.block-a1addin-text .contents-no-border {
    margin: 20px 0 0 0;
    padding: 0 0 20px 0;
}

.block-a1addin-text .text-title {
    color: #0066FF;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.block-a1addin-text .text-description {
    color: #666666;
    font-weight: 400;
    font-variant: normal;
    letter-spacing: 1px;
    font-size: 14px;
}

.block-a1addin-text .padding-top {
    padding-top: 12px !important;
}
/* A1addin Text */

/* A1addin Image With Text Banner */
.block-a1addin-image-with-text-banner .content {
    background: #fbf4f4;
}

.block-a1addin-image-with-text-banner .image-avatar {
    display: block;
    max-width: 450px;
}

.block-a1addin-image-with-text-banner .image-step {
    vertical-align: middle;
}

.block-a1addin-image-with-text-banner h2 {
    margin: 80px 0 0 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 35px;
}

.block-a1addin-image-with-text-banner h4 {
    margin: 20px 0 20px 0;
    font-size: 20px;
    line-height: 35px;
}

.block-a1addin-image-with-text-banner .text-dove-gray {
    color: #666;
}

.block-a1addin-image-with-text-banner .text-description {
    margin: -10px 0 50px 0;
    padding-top: 15px;
}

.block-a1addin-image-with-text-banner .text-step {
    font-size: 20px;
    padding: 20px 0 20px 0;
    text-align: center;
    margin: 0;
}

.block-a1addin-image-with-text-banner .text-step-description {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .block-a1addin-image-with-text-banner .image-avatar {
        width: 100%;
        max-width: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    .block-a1addin-image-with-text-banner .text-dove-gray {
        text-align: center !important;
    }

    .block-a1addin-image-with-text-banner .image {
        text-align: -webkit-center !important;
    }
}

.block-a1addin-image-with-text-banner .image {
    align-self: center;
}
/* A1addin Image With Text Banner */

/* A1addin Image Text With Icon */
.block-a1addin-image-text-with-icon .content {
    background-image: linear-gradient(#dfdfdf, #ffffff);
}

.block-a1addin-image-text-with-icon h2 {
    margin: 80px 0 0 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 45px;
}

.block-a1addin-image-text-with-icon h4 {
    margin: 20px 0 20px 0;
    font-size: 20px;
    line-height: 35px;
}

.block-a1addin-image-text-with-icon .padding-top {
    padding-top: 20px;
}

.block-a1addin-image-text-with-icon .text-dove-gray {
    color: #666666;
}

@media screen and (max-width: 1200px) {
    .block-a1addin-image-text-with-icon h2, h4 {
        text-align: center !important;
    }

    .block-a1addin-image-text-with-icon .image {
        text-align: -webkit-center;
    }
}
/* A1addin Image Text With Icon */

/* A1addin Image Right With Text Left */
.block-a1addin-image-right-with-text-left .content {
    background: #fbf4f4;
}

.block-a1addin-image-right-with-text-left .image-avatar {
    display: block;
}

.block-a1addin-image-right-with-text-left .image-step {
    vertical-align: middle;
}

.block-a1addin-image-right-with-text-left h2 {
    margin: 80px 0 0 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 35px;
}

.block-a1addin-image-right-with-text-left h4 {
    margin: 20px 0 20px 0;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
}

.block-a1addin-image-right-with-text-left .text-dove-gray {
    color: #666;
}

@media screen and (max-width: 1200px) {
    .block-a1addin-image-right-with-text-left .text-dove-gray {
        text-align: center !important;
    }

    .block-a1addin-image-right-with-text-left .image {
        text-align: -webkit-center;
    }
}
/* A1addin Image Right With Text Left */

/* A1addin Image Center Banner */
.block-a1addin-image-center-banner .text-header {
    color: #000;
    font-weight: 400;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.block-a1addin-image-center-banner .image {
    width: 100%;
}

.block-a1addin-image-center-banner .text-title {
    font-size: 20px;
}

.block-a1addin-image-center-banner .text-dove-gray {
    color: #666666;
}
/* A1addin Image Center Banner */

/* A1addin Download Links */
.block-a1addin-download-links .background-image {
    background-image: url('/img/bg-image-3.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.block-a1addin-download-links .text-header {
    font-size: 50px;
    font-weight: 100;
}

@media screen and (min-width: 768px) {
    .block-a1addin-download-links .image {
        max-width: fit-content !important;
    }
}
/* A1addin Download Links */

/* A1addin Center Card */
.block-a1addin-center-card {
    background: #fbf4f4;
    color: #666666;
    height: 575px;
}

.block-a1addin-center-card .relative {
    position: relative;
}

.block-a1addin-center-card .center-card {
    /*margin: -100px auto 0 auto;*/
    background: #fff;
    box-shadow: 0 0 4px #888888;
    padding-top: 50px;
    z-index: 1;
    top: -50%;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.block-a1addin-center-card h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    background: -webkit-linear-gradient(#006eff, #8236fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block-a1addin-center-card .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.block-a1addin-center-card .caption {
    display: block;
}

.block-a1addin-center-card .icon-img {
    height: 50px;
}

@media (max-width: 767.98px) {
    .block-a1addin-center-card {
        height: unset;
    }

    .block-a1addin-center-card .relative {
        position: unset;
    }

    .block-a1addin-center-card .center-card {
        top: unset;
        width: unset;
        padding-top: 0;
        position: unset;
        left: unset;
        transform: unset;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .block-a1addin-center-card {
        height: 650px;
    }
}
/* A1addin Center Card */

/* A1addin Contact Us */
.block-a1addin-contact-us {
    background-color: #000000;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .block-a1addin-contact-us .col-4 {
        margin: 0 auto !important;
    }
}

@media (min-width: 768px) {
    .block-a1addin-contact-us .col-md-4 {
        margin: 0 auto !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .block-a1addin-contact-us .bottom-img {
        position: absolute;
        bottom: 0;
    }
}
/* A1addin Contact Us */

/* A1addin CTA */
.block-a1addin-cta {
    background-image: linear-gradient(#dfdfdf, #ffffff);
    color: #666666;
}

.block-a1addin-cta .explore-btn {
    padding: 10px 40px 10px 40px;
    color: #006def;
    border-radius: 20px;
    border: 1px solid #006def;
    letter-spacing: 1px;
    text-decoration: none;
}

@media (max-width: 767.98px) {
    .block-a1addin-cta .explore-btn {
        margin: 0 auto !important;
    }
}

@media (min-width: 768px) {
    .block-a1addin-cta .col-md-4 {
        margin: 0 auto !important;
    }
}
/* A1addin CTA */

/* A1addin Footer */
.block-a1addin-footer .text-grey {
    color: #666666;
}

.block-a1addin-footer .bg-grey {
    background-color: #EEEEEE;
}
/* A1addin Footer */

/* A1addin Hero */
.block-a1addin-hero .white-text {
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.block-a1addin-hero .scroll-btn .mouse {
    position: relative;
    display: block;
    width: 25px;
    height: 45px;
    margin: 60px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 23px;
}

.block-a1addin-hero .scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

@media (max-width: 767.98px) {
    .block-a1addin-hero h2 {
        font-size: 15px;
    }

    .block-a1addin-hero h6 {
        font-size: 11px;
    }

    .block-a1addin-hero a {
        font-size: 11px;
    }

    .block-a1addin-hero .scroll-btn .mouse {
        display: none;
    }
}
/* A1addin Hero */

/* A1addin Img Background CTA */
.block-a1addin-img-background-cta {
    background-image: url('/img/personal-bg.jpeg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.block-a1addin-img-background-cta .explore-btn, .explore-btn:hover {
    padding: 10px 40px 10px 40px;
    color: #006def;
    border-radius: 20px;
    border: 1px solid #006def;
    letter-spacing: 1px;
    text-decoration: none;
}

@media (max-width: 767.98px) {
    .block-a1addin-img-background-cta .explore-btn {
        margin: 0 auto !important;
    }
}

@media (min-width: 768px) {
    .block-a1addin-img-background-cta .col-md-4 {
        margin: 0 auto !important;
    }
}
/* A1addin Img Background CTA */

/* A1addin Navbar */
.block-a1addin-navbar .topnav {
    overflow: hidden;
    background-color: #333;
}

.block-a1addin-navbar .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.block-a1addin-navbar .active {
    border-bottom: 1px solid red;
    color: white;
}

.block-a1addin-navbar .topnav .icon {
    display: none;
}

@media screen and (max-width: 767.98px) {
    .block-a1addin-navbar .topnav a:not(:first-child) {
        display: none;
    }

    .block-a1addin-navbar .topnav {
        background-color: #FFFFFF;
    }

    .block-a1addin-navbar .topnav a {
        color: #999999;
    }

    .block-a1addin-navbar .topnav a.icon {
        float: right;
        display: block;
        font-size: 1.875rem;
    }

    .block-a1addin-navbar .topnav.responsive {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .block-a1addin-navbar .topnav.responsive .overlay{
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
    }

    .block-a1addin-navbar .topnav.responsive .icon {
        position: absolute;
        right: 3.75%;
        top: 0;
    }

    .block-a1addin-navbar .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .icon-bar {
        width: 28px;
        height: 2px;
        background: gray;
        margin-bottom: 6px;
        display: block;
        transition-duration: 0.5s;
        opacity: 1;
    }

    #icon.active-close .icon-bar.top-bar {
        transform: rotate(45deg) translate(6px, 6px)
    }

    #icon.active-close .icon-bar.middle-bar {
        opacity: 0;
    }

    #icon.active-close .icon-bar.bottom-bar {
        transform: rotate(-45deg) translate(5px, -5px)
    }
}
/* A1addin Navbar */

/* A1addin Tabs with Image */
.block-a1addin-tabs-with-image {
    background-color: #152238;
    color: #FFFFFF;
}

.block-a1addin-tabs-with-image .header-button {
    margin-top: 30px;
    outline: none;
    border: none;
    padding: 10px 40px 10px 40px;
    color: black;
    border-radius: 20px;
    background-image: linear-gradient(to right, #fff500, #45deff);
    letter-spacing: 1px;
}

.block-a1addin-tabs-with-image h2 {
    font-weight: 300;
    background: -webkit-linear-gradient(#fff500, #45deff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block-a1addin-tabs-with-image .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.block-a1addin-tabs-with-image .caption {
    display: block;
}

.block-a1addin-tabs-with-image .icon-img {
    width: 32px;
}

.block-a1addin-tabs-with-image .tab {
    display: none;
}

.block-a1addin-tabs-with-image .tab-link strong::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00BFFF;
    transition: width .3s;
}

.block-a1addin-tabs-with-image .tab-link strong:hover:after,
.block-a1addin-tabs-with-image .tab-link strong.active::after {
    width: 100%;
}

@media (max-width: 767.98px) {
    .block-a1addin-tabs-with-image strong {
        font-size: .9rem;
    }
}
/* A1addin Tabs with Image */

/* A1addin FAQ Contact */
.block-a1addin-faq-contact .text-header {
    font-weight: 500;
    color: #0066ff;
    font-size: 30px;
}

.block-a1addin-faq-contact .text-subheader {
    padding-top: 15px;
    color: #666666;
    letter-spacing: 1px;
    font-size: 14px;
}

.block-a1addin-faq-contact .contact-box {
    border: 1px solid #dfdfdf;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    height: 100%;
}
/* A1addin FAQ Contact */
