<section class="block block-a1addin-image-center-banner">
    <div class="py-5">
        <div class="container">
            <h2 class="text-header text-center">Something new and cool, coming your way</h2>

            <div class="row pt-5 text-dove-gray">
                <div class="col-lg-4">
                    <div class="row p-0 m-0">
                        <div class="col-3 col-sm-2 col-md-4 col-lg-3 pt-4">
                            <img src="/img/icon-funds.png">
                        </div>

                        <div class="col-9 col-sm-10 col-md-8 col-lg-9 pt-4">
                            <p class="p-0 m-0 text-left text-title"><b>Funding your dreams?</b></p>
                            <p class="p-0 m-0 text-left">New products are brewing…</p>
                        </div>
                    </div>

                    <div class="row p-0 m-0">
                        <div class="col-3 col-sm-2 col-md-4 col-lg-3 pt-4">
                            <img src="/img/icon-cardless.png">
                        </div>

                        <div class="col-9 col-sm-10 col-md-8 col-lg-9 pt-4">
                            <p class="p-0 m-0 text-left text-title"><b>Too many cards in your wallets?</b></p>
                            <p class="p-0 m-0 text-left">We dislike it too, hence we go cardless, even for cash
                                withdrawal.</p>
                        </div>
                    </div>

                    <div class="row p-0 m-0">
                        <div class="col-3 col-sm-2 col-md-4 col-lg-3 pt-4">
                            <img src="/img/icon-request.png">
                        </div>

                        <div class="col-9 col-sm-10 col-md-8 col-lg-9 pt-4">
                            <p class="p-0 m-0 text-left text-title"><b>Feel awkward to request money owed?</b></p>
                            <p class="p-0 m-0 text-left">Let us do the job on your behalf!</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <img src="/img/coming-soon-feature.png" class="image">
                </div>

                <div class="col-lg-4">
                    <div class="row p-0 m-0">
                        <div class="col-9 col-sm-10 col-md-8 col-lg-9 pt-4">
                            <p class="p-0 m-0 text-left text-title"><b>Who doesn’t like discount and vouchers?</b></p>
                            <p class="p-0 m-0 text-left">We knew it. We aren’t gonna disappoint you…</p>
                        </div>

                        <div class="col-3 col-sm-2 col-md-4 col-lg-3 pt-4 text-right">
                            <img src="/img/icon-deals.png">
                        </div>
                    </div>

                    <div class="row p-0 m-0">
                        <div class="col-9 col-sm-10 col-md-8 col-lg-9 pt-4">
                            <p class="p-0 m-0 text-left text-title"><b>Wish to chat with A1addin?</b></p>
                            <p class="p-0 m-0 text-left">Yea, A1addin is eager to connect with you too, in a friendly
                                way.</p>
                        </div>

                        <div class="col-3 col-sm-2 col-md-4 col-lg-3 pt-4 text-right">
                            <img src="/img/icon-chat.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
