<section class="block block-a1addin-img-background-cta">
    <div class="py-5">
        <div class="container">
            <div class="row text-center text-md-left">
                <div class="col-md-6">
                    <img src="/img/personal.gif" class="full-width-img pl-5 pr-5 p-md-0 pr-lg-5 pr-lg-5">
                </div>
                <div class="col-md-6 pt-4 pt-lg-0 align-self-center">
                    <h2>Personal</h2>
                    <h6>Born digital, we are designed for the way you live.</h6>
                    <p>A1addin is more than just a bank. We are your reliable partner - empower you financially while
                        embracing diverse digital lifestyles. Being an entire bank squeezed into your mobile phone, we
                        present in your lives anywhere, at any time. From saving, shopping to making payment and so
                        on…we make lives easier and better than ever.</p>
                    <p>This is banking, redefined to fit your lifestyle.</p>
                    <a href="#" class="explore-btn">
                        Explore Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

