<section class="block block-a1addin-download-links">
    <div class="background-image">
        <div class="py-5">
            <div class="container">

                <h2 class="text-center text-white text-header py-3">Download A1addin</h2>


                <div class="row text-center justify-content-center py-4">
                    <div class="col-xs-12 col-sm-12 col-md-4 image px-0">
                        <a href="#"><img src="/img/google-play.png"></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 image px-0">
                        <a href="#"><img src="/img/app-store.png"></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 image px-0">
                        <a href="#"><img src="/img/app-gallery.png"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
