<section class="block block-affin-always-benefit-info">
    <div class="py-5">
        <div class="container">
            <a href="#" class="grey-text">AffinAlways</a> <span class="text-danger"> > </span>
            <a href="#" class="grey-text">Personal</a> <span class="text-danger"> > </span>
            <a href="#" class="grey-text">My Cards</a>
            <h2 class="grey-text pt-4 pb-4">Benefits</h2>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="normal-text">AFFIN DUO Visa Cash Back</h4>
                    <div class="row">
                        <div class="col-md-2">
                            <h3 class="normal-text">3%</h3>
                        </div>
                        <div class="col-md-10">
                            <p class="grey-text">cashback on e-Commerce / Online Transactions, eWallet Reloads /
                                Transactions
                                and Auto-Billing</p>
                            <p class="grey-text">* Cash Back is limited to RM80 per month (equivalent to RM960 a year),
                                excluding government services and charity transactions.</p>
                            <span class="primary-text"> >> </span><a href="#" class="primary-text">eWallet featured
                            partners</a>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-md-2">
                            <h3 class="normal-text">RM0</h3>
                        </div>
                        <div class="col-md-10">
                            <p class="grey-text">Annual fee waiver for minimum 12 swipes on retail transactions of any
                                amount</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="normal-text">AFFIN DUO Mastercard Rewards</h4>
                    <div class="row">
                        <div class="col-md-2">
                            <h3 class="normal-text">3x</h3>
                        </div>
                        <div class="col-md-10">
                            <p class="grey-text">AFFIN Rewards Points on dining, groceries and petrol</p>
                            <p class="grey-text">Unlimited AFFIN Rewards Points
                                Points are valid for 3 years</p>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-md-2">
                            <h3 class="normal-text">RM0</h3>
                        </div>
                        <div class="col-md-10">
                            <p class="grey-text">Annual fee waiver for minimum 12 swipes on retail transactions of any
                                amount</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
