<style>
    .block-affin-group-hero-slider .white-text {
        color: #f2f2f2;
        top: 50%;
        transform: translateY(-50%);
    }

    .block-affin-group-hero-slider .default-button {
        color: #0768B3 !important;
        background: #FFFFFF !important;
    }

    @media (max-width: 767.98px) {
        .block-affin-group-hero-slider .white-text {
            font-size: 8px;
        }

        .block-affin-group-hero-slider .my-dot {
            height: 5px;
            width: 5px;
        }
    }
</style>

<section class="block block-affin-group-hero-slider">
    <div class="position-relative">
        <div class="slide">
            <img src="/img/BGbunga.png" class="full-width-img">
            <div class="container">
                <div class="position-absolute white-text text-left col-10 col-md-5">
                    <h5>Evolving and will continue to grow</h5>
                    <p>Change is constant, so is our journey towards achieving greater heights. While keeping pace with
                        the
                        rapidly
                        evolving financial services landscape, AFFIN BANK continues to offer the highest level of
                        service, being
                        with your every step of the way to financial success.</p>
                    <a href="#" class="default-button">Learn More About Affin Bank Berhad</a>
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="/img/BGbunga.png" class="full-width-img">
            <div class="container">
                <div class="position-absolute white-text text-left col-md-5">
                    <h5>Evolving and will continue to grow (Slider 2)</h5>
                    <p>Change is constant, so is our journey towards achieving greater heights. While keeping pace with
                        the
                        rapidly
                        evolving financial services landscape, AFFIN BANK continues to offer the highest level of
                        service, being
                        with your every step of the way to financial success.</p>
                    <a href="#" class="default-button">Learn More About Affin Bank Berhad</a>
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="/img/BGbunga.png" class="full-width-img">
            <div class="container">
                <div class="position-absolute white-text text-left col-md-5">
                    <h5>Evolving and will continue to grow (Slider 3)</h5>
                    <p>Change is constant, so is our journey towards achieving greater heights. While keeping pace with
                        the
                        rapidly
                        evolving financial services landscape, AFFIN BANK continues to offer the highest level of
                        service, being
                        with your every step of the way to financial success.</p>
                    <a href="#" class="default-button">Learn More About Affin Bank Berhad</a>
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="/img/BGbunga.png" class="full-width-img">
            <div class="container">
                <div class="position-absolute white-text text-left col-md-5">
                    <h5>Evolving and will continue to grow (Slider 4)</h5>
                    <p>Change is constant, so is our journey towards achieving greater heights. While keeping pace with
                        the
                        rapidly
                        evolving financial services landscape, AFFIN BANK continues to offer the highest level of
                        service, being
                        with your every step of the way to financial success.</p>
                    <a href="#" class="default-button">Learn More About Affin Bank Berhad</a>
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="/img/BGbunga.png" class="full-width-img">
            <div class="container">
                <div class="position-absolute white-text text-left col-md-5">
                    <h5>Evolving and will continue to grow (Slider 5)</h5>
                    <p>Change is constant, so is our journey towards achieving greater heights. While keeping pace with
                        the
                        rapidly
                        evolving financial services landscape, AFFIN BANK continues to offer the highest level of
                        service, being
                        with your every step of the way to financial success.</p>
                    <a href="#" class="default-button">Learn More About Affin Bank Berhad</a>
                </div>
            </div>
        </div>

        <div class="slide">
            <img src="/img/BGbunga.png" class="full-width-img">
            <div class="container">
                <div class="position-absolute white-text text-left col-md-5">
                    <h5>Evolving and will continue to grow (Slider 6)</h5>
                    <p>Change is constant, so is our journey towards achieving greater heights. While keeping pace with
                        the
                        rapidly
                        evolving financial services landscape, AFFIN BANK continues to offer the highest level of
                        service, being
                        with your every step of the way to financial success.</p>
                    <a href="#" class="default-button">Learn More About Affin Bank Berhad</a>
                </div>
            </div>
        </div>

        <div class="dots">
            <span class="my-dot" onclick="currentSlides(1)"></span>
            <span class="my-dot" onclick="currentSlides(2)"></span>
            <span class="my-dot" onclick="currentSlides(3)"></span>
            <span class="my-dot" onclick="currentSlides(4)"></span>
            <span class="my-dot" onclick="currentSlides(5)"></span>
            <span class="my-dot" onclick="currentSlides(6)"></span>
        </div>
    </div>
</section>

<script>
    showSlide(1);
</script>
