<section class="block block-affin-always-disclaimer">
    <div class="bg-color py-5">
        <div class="container">
            <div class="text-center">
                <h2 class="text-white">DISCLAIMER</h2>
                <div class="d-flex justify-content-center">
                    <p class="text-white col-lg-7 pt-4">Investors are advised to read and understand content of the
                        relevant documents including but not limited to prospectus or information memorandum that has
                        been registered with Security Commission, Product Highlight Sheet, Product Disclosure Sheet and
                        Term Sheet before investing. Investors should also consider all fees and charges involved before
                        investing. Prices of units and income distribution, if any, may go down as well as up; where
                        past performance is no guarantee of future performance. Units will be issued upon receipt of the
                        registration form referred to and accompanying the Prospectus. The printed copy of prospectus
                        and Product Highlight Sheet is available at Affin Bank Wealth Management Hubs and investors have
                        the right to request for a Product Highlight Sheet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
