<section class="block block-a1addin-contact-us">
    <div class="pr-4 pl-4 pt-4 pb-0 pr-md-5 pl-md-5 pt-md-5 pb-md-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 align-self-center">
                    <h2 class="text-center text-lg-left">Contact Us</h2>
                    <p class="text-center text-lg-left small">Need help? Have enquiries regarding A1addin? No
                        worries…we would be happy to help.</p>
                    <div class="row justify-content-lg-start justify-content-center pt-3">
                        <div class="col-4 col-md-2">
                            <img src="/img/navigation.png" class="full-width-img">
                        </div>
                        <div class="col-md-6 col-lg-8 align-self-center">
                            <p class="text-center text-md-left">Call our Contact Centre at: 03-8230 2222</p>
                            <p class="text-center text-md-left">Operating hours:</p>
                            <p class="text-center text-md-left">8.00 a.m. – 12.00 a.m.</p>
                            <p class="text-center text-md-left">Monday – Sunday, including public holidays</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-6 pl-5 pr-5 pt-3 p-md-0">
                    <img src="/img/contactus.gif" class="full-width-img bottom-img">
                </div>
            </div>
        </div>
    </div>
</section>
