<section class="block block-navbar">
    <header>
        <div class="navbar navbar-dark overlay-menu-bg box-shadow">
            <div class="container-fluid d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center pl-md-5 pl-0">
                    <img src="/img/Frame.png" class="navbar-img p-2 p-sm-0">
                </a>
                <div class="pr-0 pr-sm-5">
                    <img src="/img/personal.png" class="mr-1 login-img">
                    <a href="#" class="navbar-brand align-items-center ml-1 mr-2 d-none d-sm-inline-block">
                        LOGIN
                    </a>
                    <a href="#" class="navbar-brand align-items-center ml-2 mr-2 p-1">
                        <img src="/img/navsearch.png" id="myBtn" class="navsearch-img">
                    </a>
                    <a onclick="openNav()" class="ml-2">
                        <img src="/img/menu.png" class="menu-img">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="overlay overlay-menu-bg" id="myNav">
        <img src="/img/Frame.png" class="img-logo">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="container-fluid overlay-content">
            <div class="row p-lg-5">
                <div class="col-md-2">
                    <h6 class="text-white text-uppercase title-text pt-2">About Us</h6>
                    <div class="pb-2">
                        <a href="#" class="pb-1 text-white content-text d-flex">Board of Directors</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Executive Leadership</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Awards and Recognition</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Future with Us</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <h6 class="text-white text-uppercase title-text pt-2">Investor Relations</h6>
                    <div class="pb-2">
                        <a href="#" class="pb-1 text-white content-text d-flex">Financial Information</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Stock Information</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Corporate Governance</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Information Request</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <h6 class="text-white text-uppercase title-text pt-2">Newsroom</h6>
                    <div class="pb-2">
                        <a href="#" class="pb-1 text-white content-text d-flex">Bursa Announcements</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Press release</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">AGM/EGM</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6 class="text-white text-uppercase title-text pt-2">Group Companies</h6>
                    <div class="pb-2">
                        <a href="#" class="pb-1 text-white content-text d-flex">Affin Islamic Bank</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Affin Hwang Capital</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Affin Share Trading</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">AXA Affin General Insurance</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">AXA Affin Life Insurance</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6 class="text-white text-uppercase title-text pt-2">Internet Banking</h6>
                    <div class="pb-2">
                        <a href="#" class="text-white"><img src="/img/Frame.png" width="206" height="40"></a>
                        <a href="#" class="pb-1 text-white content-text d-flex">Personal</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">AFFINMAX</a>
                        <a href="#" class="pt-1 pb-1 text-white content-text d-flex">Corporate Internet Banking</a>
                    </div>
                    <!-- TODO: this should be dynamically created and the style should be changed accordingly -->
                    <p class="text-white title-text text-uppercase mt-3">Language Selection</p>
                    <div class='btn-group pb-4'>
                        <a href="/lang/en" class='btn btn-primary text-white'>EN</a>
                        <a href="/lang/ms" class='btn btn-light'>BM</a>
                        <a href="/lang/zh" class='btn btn-light'>CN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content overlay-menu-bg">
            <div class="container d-flex justify-content-between">
                <img src="/img/Frame.png" width="206" height="40">
                <span class="close text-right">&times;</span>
            </div>
            <div class="container">
                <h2 class="text-center text-white font-italic">Always about You</h2>
                <p class="text-center text-white pt-3 container">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                    Maecenas
                    maximus
                    tellus non
                    luctus accumsan. Donec id lobortis velit. Aenean interdum risus eu mattis molestie. Nullam ut ante
                    at
                    lectus blandit interdum. Mauris tempor, lorem consectetur maximus bibendum, elit magna pulvinar
                    purus,
                    nec accumsan</p>
                <div class="text-center pt-5 position-relative">
                    <input type="text" placeholder="Search with AffinGroup"
                           class="search-icon input-width border-right-0"
                           id="input">
                    <img src="/img/search.png" class="search-icon m-2" width="16" height="16">
                </div>
                <p class="text-center text-white pt-5">What others are also searching: </p>
                <div class="text-center">
                    <a href="#" class="btn btn-outline-light mr-2">Annual Report</a>
                    <a href="#" class="btn btn-outline-light mr-2 ml-3">A1addin</a>
                    <a href="#" class="btn btn-outline-light ml-2">About Us</a></div>
            </div>
        </div>

    </div>
</section>

<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
