<section class="block block-a1addin-cta">
    <div class="py-5">
        <div class="container">
            <div class="row text-center text-md-left">
                <div class="col-md-6 align-self-center p-2">
                    <h2>Business</h2>
                    <h6>Your customers have gone mobile, have you?</h6>
                    <p>Whether you’re starting out or building up, A1addin helps grow
                        your business digitally. We bridge
                        the gap between you, your partners and your customers with an efficient payment solution - built
                        for how you want to pay and get paid, all in one app.</p>
                    <p>Smart. Efficient. Secure. With an entire bank squeezed into your
                        mobile phone, there are even
                        more of the things you love about A1addin. Give your business an edge today.</p>
                    <a href="#" class="explore-btn">
                        Explore Now
                    </a>
                </div>
                <div class="col-md-6 pt-4 pt-lg-0">
                    <img src="/img/business%201.png" class="full-width-img">
                </div>
            </div>
        </div>
    </div>
</section>
