<section class="block block-affin-always-banner-with-image-vertical">
    <div class="bg-color py-5">
        <div class="container">
            <div class="text-center">
                <img src="/img/pidm.png" height="150">
                <h5 class="text-white pt-4">Protected by PIDM up to RM250,000 for each depositor</h5>
            </div>
        </div>
    </div>
</section>
