<section class="block block-our-excellence">
    <div class="py-5">
        <div class="container">
            <div class="text-center align-self-center">
                <h2>Our Excellence</h2>
                <h5>Recognition of our commitment to support SMEs in Malaysia</h5>
                <div class="row justify-content-center pt-4">
                    <div class="col-6 col-md-3 p-2">
                        <img src="/img/excellence.png" class="full-width-img">
                        <h5 class="pt-3">The Asset Triple A Digital Project Awards 2020</h5>
                    </div>
                    <div class="col-6 col-md-3 p-2">
                        <img src="/img/excellence.png" class="full-width-img">
                        <h5 class="pt-3">International Finance Awards 2019</h5>
                    </div>
                    <div class="col-6 col-md-3 p-2">
                        <img src="/img/excellence.png" class="full-width-img">
                        <h5 class="pt-3">The Malaysia Book of Records</h5>
                    </div>
                    <div class="col-6 col-md-3 p-2">
                        <img src="/img/excellence.png" class="full-width-img">
                        <h5 class="pt-3">Malaysia Technology Excellence Awards 2020</h5>
                    </div>
                </div>
                <a href="#" class="default-button mt-4">Discover</a>
            </div>
        </div>
    </div>
</section>
