<section class="block block-thank-you-banner">
    <div class="bg-color py-5">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <img src="/img/girl-thumb-up.png" class="full-width-img">
                    <h2 class="text-center text-white pt-3">You’re amazing!</h2>
                    <h5 class="text-center text-white pt-3">We will be reach you soon.</h5>
                    <div class="text-center">
                        <a href="#" class="default-button button-white-outline mt-5">Back to homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
