<section class="block horizontal-banner-block">
    <div class="background-image">
        <div class="content">
            <br><br><br>

            <p class="sub-header">CHECK OUT OUR LATEST CAMPAIGN</p>

            <br>

            <p class="header text-center">
                convert your purchases into affordable 12-month instalments at 0% interest/profit rate!
            </p>

            <br><br>

            <div class="text-center">
                <span class="link-text-red"> >> </span><a href="#" class="link-text-red">Terms & Conditions apply</a>
            </div>


            <br><br>

            <div class="text-center">
                <div class="button button-text"><a href="#" class="link-text-white">Check it out</a></div>
            </div>

            <br><br>
        </div>
    </div>
</section>
