<section class="block block-affin-always-award">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <img src="/img/award.png" class="full-width-img">
                </div>
                <div class="col-lg-8 align-self-center">
                    <h2 class="primary-text">Lorem Ipsum Dolores</h2>
                    <p class="normal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.</p><br>
                    <p class="normal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis</p>
                    <a href="#">
                        Click here to view all awards
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
