<section class="block block-a1addin-footer">
    <div class="bg-grey p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="text-center float-lg-left text-grey">
                        Copyright 2019 Affin Bank Berhad (25046-T)
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="text-center float-lg-right pt-3 pt-lg-0">
                        <span>
                            <a href="#" class="text-grey">Client Charter</a> |
                            <a href="#" class="text-grey">Privacy Notice</a> |
                            <a href="#" class="text-grey">Terms & Conditions</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="/img/footer-1.png" width="100%">
    </div>
</section>
