<meta name="viewport" content="width=device-width, initial-scale=1">

<section class="block block-affin-always-info-boxes-list-with-icons">
    <div class="container">
        <br><br>

        <p class="header text-left">Card Plans</p>

        <br><br>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                <div class="card card-radius">
                    <div class="card-body d-flex flex-column">
                        <div class="row">
                            <div class="col-4 no-padding-right">
                                <img src="/img/plans-1.png" width="55px" height="75px">
                            </div>
                            <div class="col-8 no-padding-left align-self-center">
                                <p class="card-title">
                                    Easy Instalment Plan (EiPlan)
                                </p>
                            </div>
                        </div>

                        <br>

                        <p class="card-text mt-auto">
                            One-time upfront interest as low as 2%
                        </p>

                        <br>

                        <div class="text-left mt-auto">
                            <span class="link-text-blue"> >> </span>
                            <a href="#" class="link-text-blue">Frequently Asked Questions</a>
                        </div>

                        <div class="text-left mt-auto">
                            <span class="link-text-blue"> >> </span>
                            <a href="#" class="link-text-blue">Terms & Conditions</a>
                        </div>

                        <br>

                        <div class="text-center mt-auto">
                            <div class="button button-text">
                                <a href="#" class="link-text-white">I’m interested</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                <div class="card card-radius">
                    <div class="card-body d-flex flex-column">
                        <div class="row">
                            <div class="col-4 no-padding-right">
                                <img src="/img/plans-1.png" width="55px" height="75px">
                            </div>
                            <div class="col-8 no-padding-left align-self-center">
                                <p class="card-title">
                                    Balance Transfer Instalment Plan (BTiP)
                                </p>
                            </div>
                        </div>

                        <br>

                        <p class="card-text mt-auto">
                            One-time upfront interest as low as 2%
                        </p>

                        <br>

                        <div class="text-left mt-auto">
                            <span class="link-text-blue"> >> </span>
                            <a href="#" class="link-text-blue">Product Disclosure Sheet</a>
                        </div>

                        <div class="text-left mt-auto">
                            <span class="link-text-blue"> >> </span>
                            <a href="#" class="link-text-blue">Terms & Conditions</a>
                        </div>

                        <br>

                        <div class="text-center mt-auto">
                            <div class="button button-text">
                                <a href="#" class="link-text-white">I’m interested</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                <div class="card card-radius">
                    <div class="card-body d-flex flex-column">
                        <div class="row">
                            <div class="col-4 no-padding-right">
                                <img src="/img/plans-1.png" width="55px" height="75px">
                            </div>
                            <div class="col-8 no-padding-left align-self-center">
                                <p class="card-title">
                                    Cash-on-Call Instalment Plan (CIP)
                                </p>
                            </div>
                        </div>

                        <br>

                        <p class="card-text mt-auto">
                            One-time upfront interest as low as 2%
                        </p>

                        <br>

                        <div class="text-left mt-auto">
                            <span class="link-text-blue"> >> </span>
                            <a href="#" class="link-text-blue">Product Disclosure Sheet</a>
                        </div>

                        <div class="text-left mt-auto">
                            <span class="link-text-blue"> >> </span>
                            <a href="#" class="link-text-blue">Terms & Conditions</a>
                        </div>

                        <br>

                        <div class="text-center mt-auto">
                            <div class="button button-text">
                                <a href="#" class="link-text-white">I’m interested</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="display-flow-root collapsible">
            <p class="header-2 float-left">Eligibility & Documents</p>
            <span class="header-2 float-right">+</span>
        </div>
        <div class="content">
            <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat.</p>
        </div>
        <hr>

        <br>

        <div class="display-flow-root collapsible">
            <p class="header-2 float-left">Important Information</p>
            <span class="header-2 float-right">+</span>
        </div>
        <div class="content">
            <p>2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat.</p>
        </div>
        <hr>

        <br><br>
    </div>

    <br><br>
</section>


<script>
    const coll = document.querySelectorAll('.collapsible');
    let i;

    if (coll) {
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener('click', function () {
                const content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + 'px';
                }
            });
        }
    }
</script>
