<section class="block block-a1addin-faq-contact">
    <div class="py-5">
        <div class="container text-center">
            <h2 class="text-header">Still have questions?</h2>
            <p class="text-subheader">
                If your questions are not answered in our FAQs, you can always reach out to us via the following
                channels.
            </p>

            <div class="row pb-4">
                <div class="col-md-6 col-sm-12 py-3">
                    <div class="contact-box">
                        <img src="/img/phone.png">
                        <div>
                            <a href="#">+(603) 8230 2222</a>
                            <p>Our friendly customer service officers are ready to help</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 py-3">
                    <div class="contact-box">
                        <img src="/img/envelope.png">
                        <div>
                            <a href="#">a1addinsupport@affinbank.com.my</a>
                            <p>We will reply to you as soon as possible</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
