<section class="block block-affin-always-hero">
    <div class="position-relative">
        <img src="/img/serve_better.png" class="full-width-img">
        <div class="container">
            <div class="position-absolute text-left white-text">
                <h2>Reach us</h2>
                <h4>We’re ready to help</h4>
            </div>
        </div>
    </div>
</section>
