<style>
    /* Block Range */
    .block-affin-always-range .bg-color {
        background-color: #0768B3;
    }

    .block-affin-always-range .button {
        color: #0768B3 !important;
        background: #FFFFFF !important;
    }

    .block-affin-always-range .range-input {
        -webkit-appearance: none;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        width: 75%;
    }

    .block-affin-always-range datalist {
        display: flex;
        justify-content: space-between;
        color: white;
        width: 75%;
    }

    .block-affin-always-range .range-input::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: black;
        box-shadow: -700px 0 0 700px red;
        cursor: pointer;
        height: 25px;
        width: 25px;
    }

    @media (max-width: 767.98px) {
        .block-affin-always-range .range-input::-webkit-slider-thumb {
            box-shadow: -350px 0 0 350px red;
        }
    }

    /* Block Range */
</style>

<section class="block block-affin-always-range">
    <div class="bg-color p-4 p-md-5">
        <div class="container">
            <div class="text-center align-self-center">
                <h2 class="text-white">Still can't find?</h2>
                <p class="text-white">How much is your monthly income? Let us help you</p>
                <p id="result" class="text-white pt-3"></p>
                <div class="row justify-content-center">
                    <input onchange="drag()" class="range-input mt-3" id="salary" type="range" name="salary"
                           min="0"
                           max="20000" step="500" list="tickmarks">
                    <datalist id="tickmarks">
                        <option value="0" label="0"></option>
                        <option value="25" label="5k"></option>
                        <option value="50" label="10k"></option>
                        <option value="75" label="15k"></option>
                        <option value="100" label="20k"></option>
                    </datalist>
                </div>
                <a href="#" class="default-button button mt-3">Check Result</a>
            </div>
        </div>
    </div>
</section>

<script>
    if (document.getElementById("salary")) {
        document.getElementById("salary").value = 3000;
        drag();
    }
</script>
