<section class="block icons-with-text-block">
    <div class="container">
        <br><br><br>

        <div class="row">
            <div class="col-lg-4 col-xs-12 mb-4 px-4">
                <div class="row">
                    <div class="col-3">
                        <img src="/img/icon-1.png">
                    </div>
                    <div class="col-9 align-self-center no-padding-left">
                        <p class="icons-text">Intuitive Dashboard</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12 mb-4 px-4">
                <div class="row">
                    <div class="col-3">
                        <img src="/img/icon-2.png">
                    </div>
                    <div class="col-9 align-self-center no-padding-left">
                        <p class="icons-text">High Standard Security</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12 mb-4 px-4">
                <div class="row">
                    <div class="col-3">
                        <img src="/img/icon-3.png">
                    </div>
                    <div class="col-9 align-self-center no-padding-left">
                        <p class="icons-text">User-friendly Interface & Navigation</p>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>
    </div>
</section>
