<section class="block block-a1addin-center-card">
    <div class="relative py-5">
        <div class="container">
            <div class="center-card">
                <div class="p-4">
                    <h2 class="text-center">Why A1addinbiz?</h2>
                    <p class="text-center">A1addin is a digital bank powered by AFFINBANK. We take your banking
                        security
                        and privacy very seriously and have high standards to ensure your money and data are
                        protected.
                        With A1addin, rest assured that you’re in good hands.</p>
                    <div class="row">
                        <div class="col-md-6 item">
                            <img src="/img/smallhp.png" class="ml-1 icon-img">
                            <h5 class="text-center caption p-1">A phone – is all you need</h5>
                            <p class="text-center small">No hassles. No hurdles. No heartaches. Your smartphone is
                                what
                                you need to kick start a cashless and cardless experience for your business – from
                                anywhere, at anytime.</p>
                        </div>
                        <div class="col-md-6 item">
                            <img src="/img/smallhp.png" class="ml-1 icon-img">
                            <h5 class="text-center caption p-1">Nothing holds you back</h5>
                            <p class="text-center small">With no cost incurred, there’s nothing stopping you from
                                going
                                ahead with A1addin.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 item">
                            <img src="/img/smallhp.png" class="ml-1 icon-img">
                            <h5 class="text-center caption p-1">Be seen. Be heard</h5>
                            <p class="text-center small">Increase your brand awareness through various
                                collaborations
                                with A1addin. And ultimately make our users your customers.</p>
                        </div>
                        <div class="col-md-6 item">
                            <img src="/img/smallhp.png" class="ml-1 icon-img">
                            <h5 class="text-center caption p-1">All roles, in one app</h5>
                            <p class="text-center small">Having different roles with different authorisation level
                                in
                                your business? It’s okay. These can easily be set within the A1addin app.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

