<section class="block block-tabs-with-image">
    <div class="bg-color py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7 align-self-center">
                    <div class="pb-5 tab-link">
                        <strong id="tab-link-1" onclick="changeTab('tab-1')" class="mr-0 mr-md-2 text-white active">For
                            Graduates</strong>
                        <strong id="tab-link-2" onclick="changeTab('tab-2')"
                                class="ml-2 ml-md-2 mr-0 mr-md-2 text-white">Eligibility
                            &
                            Requirements</strong>
                        <strong id="tab-link-3" onclick="changeTab('tab-3')"
                                class="ml-2 ml-md-2 text-white">Notes</strong>
                    </div>
                    <div id="tab-1" class="tab">
                        <p class="text-white small">
                            Just graduated or just working and not eligible to apply for a credit card?
                        </p>
                        <p class="text-white small">
                            Exclusive program for young graduates to own AFFIN DUO Credit Card. We have it catered for
                            you.
                        </p>
                        <img src="/img/chevrons-right.png" width="24">
                        <a href="#" class="text-danger">Frequently asked questions</a>
                    </div>
                    <div id="tab-2" class="tab">
                        <p class="text-white small">
                            Just graduated or just working and not eligible to apply for a credit card?(tab2)
                        </p>
                        <p class="text-white small">
                            Exclusive program for young graduates to own AFFIN DUO Credit Card. We have it catered for
                            you.
                        </p>
                        <img src="/img/chevrons-right.png" width="24">
                        <a href="#" class="text-danger">Frequently asked questions</a>
                    </div>
                    <div id="tab-3" class="tab">
                        <p class="text-white small">
                            Just graduated or just working and not eligible to apply for a credit card?(tab3)
                        </p>
                        <p class="text-white small">
                            Exclusive program for young graduates to own AFFIN DUO Credit Card. We have it catered for
                            you.
                        </p>
                        <img src="/img/chevrons-right.png" width="24">
                        <a href="#" class="text-danger">Frequently asked questions</a>
                    </div>
                </div>
                <div class="col-md-5 pt-2 pt-md-0">
                    <img src="/img/business%201.png" class="full-width-img">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    changeTab('tab-1');
</script>
