<section class="block block-hero-advanced-2">
    <div class="position-relative">
        <img src="/img/serve_better.png" class="full-width-img">
        <div class="container">
            <div class="position-absolute text-left text-over-img">
                <h4 class="text-white">What's the best card for your lifestyle?</h4>
                <div class="pt-2">
                    <div class="item mr-3">
                        <img src="/img/gift.png" class="ml-1 icon-img">
                        <a href="#" class="text-white caption">
                            Rewards
                        </a>
                    </div>
                    <div class="item ml-3 mr-3">
                        <img src="/img/gift.png" class="ml-1 icon-img">
                        <a href="#" class="text-white caption">
                            Shopping
                        </a>
                    </div>
                    <div class="item ml-3">
                        <img src="/img/gift.png" class="ml-1 icon-img">
                        <a href="#" class="text-white caption">
                            Debt Free
                        </a>
                    </div>
                </div>
                <a href="#" class="default-button mt-3">Discover</a>
            </div>
        </div>
    </div>
</section>
